<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">

    <tlib-version>1.0</tlib-version>
    <short-name>userTag</short-name>
    <uri>UserTag</uri>

    <!-- Invoke 'Generate' action to add tags or functions -->

    <tag>
        <name>userTag</name>
        <tag-class>com.bosssoft.hr.train.jsp.example.tag.UserTag</tag-class>
        <body-content>empty</body-content>
    </tag>

</taglib>
